*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
  font-weight: normal;
  font-size: normal;
  font-style: normal;
}
html {
  font-size: min(max(16px, 4vw), 22px);
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.animation-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
